@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(images/bg-mobile.svg);
  background-color: #674baf;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
}

header #img-logo {
  margin: 38.2px auto auto 40px;
  height: 19px;
  width: 120px;
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 64px auto;
  gap: 3.75rem;
}

main .mockups-part {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .mockups-part img {
  width: 296px;
  height: 209px;
}

main .info-part {
  height: 272px;
  width: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .info-part h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 16px;
  text-align: center;
}

main .info-part p {
  height: 120px;
  width: 304px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}

main .info-part a {
  padding-top: 11.29px;
  text-decoration: none;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #684BB1;
  height: 40px;
  width: 200px;
  font-family: "Poppins", sans-serif;
}

main .info-part a:hover {
  background: #E880E8;
  -webkit-box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
          box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
  color: #FFFFFF;
}

.media-links {
  height: 28px;
  width: 104px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.media-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 99px;
  margin-right: 10.495px;
  text-align: center;
  line-height: 1.6em;
  padding: 7px;
  font-size: smaller;
}

.media-links a:last-child {
  margin-right: 0;
}

.media-links a:hover {
  border-color: #FF52C1;
  color: #FF52C1;
}

.attribution {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-size: cover;
    background-clip: border-box;
    background-position-y: top;
    width: 100%;
  }
  main .mockups-part {
    width: 606.21px;
    height: 428.03px;
  }
  main .mockups-part img {
    width: 100%;
    height: 100%;
  }
  main .info-part {
    width: 622.59px;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .info-part h1 {
    font-size: 35px;
    line-height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    margin: 0 85px 64px 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .mockups-part {
    max-width: 696px;
    height: auto;
    width: 80%;
  }
  main .info-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 24px;
    height: auto;
    width: 520px;
  }
  main .info-part h1 {
    width: 150%;
    text-align: left;
    line-height: 60px;
    margin-bottom: 0;
  }
  main .info-part p {
    width: 120%;
    text-align: left;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1440px) {
  main .info-part p {
    width: 110%;
  }
  .media-links {
    height: 40px;
    width: 152px;
    margin-right: 80px;
  }
  .media-links a {
    margin-right: 16px;
  }
}
/*# sourceMappingURL=styles.css.map */