@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$title-font: 'Open Sans',
sans-serif;
$text-font: 'Poppins',
sans-serif;




@mixin gridDesktop {
    width: 1275px;
    height: 493px;
    grid-template-columns: 696px 520px;
    column-gap: 59px;
    grid-template-rows: 493px;
    grid-template-areas: "c d";
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    display: flex;
    width: 100%;
    height: 100px;

    #img-logo {
        margin: 38.2px auto auto 40px;
        height: 19px;
        width: 120px;
        background-image: url(images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto 64px auto;
    gap: 3.75rem;

    .mockups-part {
        justify-content: center;
        align-items: center;


        img {
            width: 296px;
            height: 209px;
        }
    }

    .info-part {
        height: 272px;
        width: 304px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;



        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            font-family: $title-font;
            margin-bottom: 16px;
            text-align: center;

        }

        p {
            height: 120px;
            width: 304px;
            font-family: $text-font;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 24px;
        }

        a {
            padding-top: 11.29px;
            text-decoration: none;
            background: #FFFFFF;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
            border-radius: 20px;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #684BB1;
            height: 40px;
            width: 200px;
            font-family: $text-font;

            &:hover {
                background: #E880E8;
                box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
                color: #FFFFFF;
            }
        }
    }

}

.media-links {
    height: 28px;
    width: 104px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 99px;
        margin-right: 10.495px;
        text-align: center;
        line-height: 1.6em;
        padding: 7px;
        font-size: smaller;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: #FF52C1;
            color: #FF52C1;
            ;
        }
    }
}

.attribution {
    font-family: $text-font;
    font-size: 12px;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

@media screen and (min-width: 768px) {

    body {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
        background-clip:border-box;
        background-position-y: top;
        width: 100%;
    }

    main {
        .mockups-part {
            width: 606.21px;
            height: 428.03px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .info-part {
            width: 622.59px;
            height: auto;
            justify-content: flex-start;

            h1 {
                font-size: 35px;
                line-height: 55px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {


    main {
        margin: 0 85px 64px 80px;

        flex-direction: row;

        .mockups-part {
            max-width: 696px;
            height: auto;
            width: 80%;


        }

        .info-part {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            height: auto;
            width: 520px;

            h1 {
                width: 150%;
                text-align: left;
                line-height: 60px;
                margin-bottom: 0;
            }

            p {
                width: 120%;
                text-align: left;
                margin-bottom: 0;
                font-size: 18px;
                line-height: 27px;
            }


        }
    }
}

@media screen and (min-width: 1440px) {
    
main{
    .info-part{
        p{
            width: 110%;
        }
    }
}

.media-links{
    height: 40px;
width: 152px;
margin-right: 80px;
a{
    margin-right: 16px;
}
}

}