@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

$title-font: 'Open Sans',
sans-serif;
$text-font: 'Poppins',
sans-serif;


@mixin gridMobile {
    display: grid;
    width: 304px;
    height: 541px;
    grid-template-columns: 1fr;
    grid-row: 209px 272px;
    gap: 60px;
    grid-template-areas:
        "a"
        "b";

}

@mixin gridDesktop {
    width: 1275px;
    height: 493px;
    grid-template-columns: 696px 520px;
    column-gap: 59px;
    grid-template-rows: 493px;
    grid-template-areas: "c d";
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bg-mobile.svg);
    background-color: hsl(257, 40%, 49%);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}


header {
    display: flex;
    width: 100%;
    height: 100px;

    #img-logo {
        margin: 38.2px auto auto 40px;
        height: 19px;
        width: 120px;
        background-image: url(images/logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}


main {
    @include gridMobile();
    margin: 0 auto 64px auto;

    #mockups-part {
        grid-area: a;
        margin-left: 4.5px;
        justify-content: center;
        height: 209px;
        width: 296px;
        background-image: url(images/illustration-mockups.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #info-part {
        height: 272px;
        width: 304px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: b;


        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            font-family: $title-font;
            margin-bottom: 16px;
            text-align: center;

        }

        p {
            height: 120px;
            width: 304px;
            font-family: $text-font;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 24px;
        }

        a {
            padding-top: 11.29px;
            text-decoration: none;
            background: #FFFFFF;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
            border-radius: 20px;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #684BB1;
            height: 40px;
            width: 200px;
            font-family: $text-font;

            &:hover {
                background: #E880E8;
                box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
                color: #FFFFFF;
            }
        }
    }

}

#media-links {
    height: 28px;
    width: 104px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 99px;
        margin-right: 10.495px;
        text-align: center;
        line-height: 1.6em;
        padding: 7px;
        font-size: smaller;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            border-color: #FF52C1;
            color: #FF52C1;
            ;
        }
    }
}

.attribution {
    font-family: $text-font;
    font-size: 12px;
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


@media screen and (min-width: 1440px) {

    body {
        background-image: url(images/bg-desktop.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }


    header {
        #img-logo {
            width: 200px;
            height: 100px;
            background-size: contain;
            margin: 64px auto 0 80px;
        }
    }

    main {
        @include gridDesktop();
        margin: 100px auto 27px auto;

        #mockups-part {
            height: 493px;
            width: 696px;

            grid-area: c;

        }

        #info-part {
            margin-top: 50px;
            width: 520px;
            height: 305px;
            grid-area: d;
            align-items: flex-start;

            h1 {
                text-align: left;
                font-weight: 600;
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 24px;
            }

            p {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                height: 81px;
                width: 521px;
                text-align: justify;
            }

            a {
                height: 56px;
                width: 200px;
                font-size: 18px;
                line-height: 27px;
                margin-top: 24px;
                padding: 13px 63px 16px 64px;
                border-radius: 28px;
            }
        }

    }


    #media-links {
        height: 40px;
        width: 152px;
        margin: 0 auto auto 1208px;

        a {
            width: 40px;
            height: 40px;
            margin-right: 16px;

        }
    }

}